<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.example.stockTracking.repository.mybatis.StockPriceMapper">
    <select id="findByIsuCdAndDate" resultType="StockPriceDto">
        SELECT BAS_DD,TDD
          FROM STOCK_PRICE
         WHERE ISU_CD = #{isuCd}
           AND BAS_DD BETWEEN #{basDd} AND DATE_FORMAT(NOW(), '%Y%m%d')
    </select>
</mapper>